@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: 'YekanBakh';
    src: url('fonts/YekanBakh.woff2') format('woff2'),
         url('fonts/YekanBakh.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'YekanBakh';
    src: url('fonts/YekanBakh-Medium.woff2') format('woff2'),
         url('fonts/YekanBakh-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'YekanBakh';
    src: url('fonts/YekanBakh-Heavy.woff2') format('woff2'),
         url('fonts/YekanBakh-Heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'YekanBakh';
    src: url('fonts/YekanBakh-Bold.woff2') format('woff2'),
         url('fonts/YekanBakh-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white;
    @apply text-text;
    direction: rtl;
    font-family: YekanBakh;
  };
  
  a {
    @apply text-sky-500;
  }
}


.swiper-pagination {
	text-align: left !important;
}